# Flutter / Dart
.dart_tool/
.build/
.packages
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# iOS
ios/Runner/GoogleService-Info.plist

# Environment
.env

# IDE
.vscode/
.idea/
*.iml
