# Flutter / Dart
.dart_tool/
.build/
.packages
pubspec.lock

# Flutter build
build/
*.apk
*.aab
*.dill

# Android
android/.gradle/
android/local.properties
android/app/src/google-services.json
android/app/src/google-services-dev.json
# iOS
ios/Runner/GoogleService-Info.plist

# Environment
.env

# IDE
.vscode/
.idea/
*.iml
